<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.news.mapper.NewsClassifyMapper">

    <resultMap type="NewsClassify" id="NewsClassifyResult">
        <result property="classifyId"    column="classify_id"    />
        <result property="classifyName"    column="classify_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectNewsClassifyVo">
        select classify_id, classify_name, del_flag, create_by, create_time, update_by, update_time, remark, status from news_classify
    </sql>

    <select id="selectNewsClassifyList" parameterType="NewsClassify" resultMap="NewsClassifyResult">
        <include refid="selectNewsClassifyVo"/>
        <where>
            <if test="classifyName != null  and classifyName != ''"> and classify_name like concat('%', #{classifyName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectNewsClassifyByClassifyId" parameterType="Long" resultMap="NewsClassifyResult">
        <include refid="selectNewsClassifyVo"/>
        where classify_id = #{classifyId}
    </select>

    <insert id="insertNewsClassify" parameterType="NewsClassify" useGeneratedKeys="true" keyProperty="classifyId">
        insert into news_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classifyName != null and classifyName != ''">classify_name,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classifyName != null and classifyName != ''">#{classifyName},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateNewsClassify" parameterType="NewsClassify">
        update news_classify
        <trim prefix="SET" suffixOverrides=",">
            <if test="classifyName != null and classifyName != ''">classify_name = #{classifyName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where classify_id = #{classifyId}
    </update>

    <delete id="deleteNewsClassifyByClassifyId" parameterType="Long">
#         delete from news_classify where classify_id = #{classifyId}
            update news_classify set del_flag = '2' where classify_id = #{classifyId}
    </delete>

    <delete id="deleteNewsClassifyByClassifyIds" parameterType="String">
        delete from news_classify where classify_id in
        <foreach item="classifyId" collection="array" open="(" separator="," close=")">
            #{classifyId}
        </foreach>
    </delete>
</mapper>