<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IotDeviceUserRelationMapper">

    <resultMap type="IotDeviceUserRelation" id="IotDeviceUserRelationResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceNum" column="device_num"/>
        <result property="deviceName" column="device_name"/>
        <result property="remark" column="remark"/>
        <result property="gmtTime" column="gmt_time"/>
        <result property="gmtUpdate" column="gmt_update"/>
    </resultMap>

    <sql id="selectIotDeviceUserRelationVo">
        select id, user_id, device_id, device_num,device_name,remark, gmt_time, gmt_update        from iot_device_user_relation
    </sql>

    <select id="selectIotDeviceUserRelationList" parameterType="IotDeviceUserRelation"
            resultMap="IotDeviceUserRelationResult">
        <include refid="selectIotDeviceUserRelationVo"/>
        <where>
            <if test="userId != null ">
                and user_id = #{userId}
            </if>
            <if test="deviceId != null ">
                and device_id = #{deviceId}
            </if>
            <if test="deviceNum != null  and deviceNum != ''">
                and device_num = #{deviceNum}
            </if>
            <if test="gmtTime != null ">
                and gmt_time = #{gmtTime}
            </if>
            <if test="gmtUpdate != null ">
                and gmt_update = #{gmtUpdate}
            </if>
        </where>
    </select>

    <select id="selectIotDeviceUserRelationById" parameterType="Long"
            resultMap="IotDeviceUserRelationResult">
        <include refid="selectIotDeviceUserRelationVo"/>
        where id = #{id}
    </select>

    <insert id="insertIotDeviceUserRelation" parameterType="IotDeviceUserRelation" useGeneratedKeys="true"
            keyProperty="id">
        insert into iot_device_user_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,
            </if>
            <if test="deviceId != null">device_id,
            </if>
            <if test="deviceNum != null and deviceNum != ''">device_num,
            </if>
            <if test="deviceName != null and deviceName != ''">device_name,
            </if>
            <if test="remark != null and remark != ''">remark,
            </if>
            <if test="gmtTime != null">gmt_time,
            </if>
            <if test="gmtUpdate != null">gmt_update,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},
            </if>
            <if test="deviceId != null">#{deviceId},
            </if>
            <if test="deviceNum != null and deviceNum != ''">#{deviceNum},
            </if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},
            </if>
            <if test="remark != null and remark != ''">#{remark},
            </if>

            <if test="gmtTime != null">#{gmtTime},
            </if>
            <if test="gmtUpdate != null">#{gmtUpdate},
            </if>
        </trim>
    </insert>

    <update id="updateIotDeviceUserRelation" parameterType="IotDeviceUserRelation">
        update iot_device_user_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id =
                #{userId},
            </if>
            <if test="deviceId != null">device_id =
                #{deviceId},
            </if>
            <if test="deviceNum != null and deviceNum != ''">device_num =
                #{deviceNum},
            </if>
            <if test="deviceName != null and deviceName != ''">device_name =
                #{deviceName},
            </if>
            <if test="remark != null and remark != ''">remark =
                #{remark},
            </if>
            <if test="gmtTime != null">gmt_time =
                #{gmtTime},
            </if>
            <if test="gmtUpdate != null">gmt_update =
                #{gmtUpdate},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIotDeviceUserRelationById" parameterType="Long">
        delete from iot_device_user_relation where id = #{id}
    </delete>

    <delete id="deleteIotDeviceUserRelationByIds" parameterType="String">
        delete from iot_device_user_relation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>