<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TUserAccountInfoMapper">

    <resultMap type="TUserAccountInfo" id="TUserAccountInfoResult">
        <result property="id" column="id"/>
        <result property="sessionkey" column="sessionKey"/>
        <result property="accessToken" column="access_token"/>
        <result property="openId" column="open_id"/>
        <result property="unionId" column="union_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatar" column="avatar"/>
        <result property="phone" column="phone"/>
        <result property="birthday" column="birthday"/>
        <result property="status" column="status"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="address" column="address"/>
        <result property="userType" column="user_type"/>
        <result property="adminId" column="admin_id"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="gmtTime" column="gmt_time"/>
        <result property="gmtUpdate" column="gmt_update"/>
    </resultMap>

    <sql id="selectTUserAccountInfoVo">
        select id, sessionKey, access_token, open_id, union_id, nick_name, avatar, phone, birthday, status, country,
        province, city, address, user_type, admin_id, last_login_time, last_login_ip, gmt_time, gmt_update from
        t_user_account_info
    </sql>

    <select id="selectTUserAccountInfoList" parameterType="TUserAccountInfo" resultMap="TUserAccountInfoResult">
        <include refid="selectTUserAccountInfoVo"/>
        <where>
            <if test="sessionkey != null  and sessionkey != ''">and sessionKey = #{sessionkey}</if>
            <if test="accessToken != null  and accessToken != ''">and access_token = #{accessToken}</if>
            <if test="openId != null  and openId != ''">and open_id = #{openId}</if>
            <if test="unionId != null  and unionId != ''">and union_id = #{unionId}</if>
            <if test="nickName != null  and nickName != ''">and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="avatar != null  and avatar != ''">and avatar = #{avatar}</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="birthday != null  and birthday != ''">and birthday = #{birthday}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="country != null  and country != ''">and country = #{country}</if>
            <if test="province != null  and province != ''">and province = #{province}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="userType != null ">and user_type = #{userType}</if>
            <if test="adminId != null ">and admin_id = #{adminId}</if>
            <if test="lastLoginTime != null ">and last_login_time = #{lastLoginTime}</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''">and last_login_ip = #{lastLoginIp}</if>
            <if test="gmtTime != null ">and gmt_time = #{gmtTime}</if>
            <if test="gmtUpdate != null ">and gmt_update = #{gmtUpdate}</if>
        </where>
    </select>

    <select id="selectTUserAccountInfoById" parameterType="Long" resultMap="TUserAccountInfoResult">
        <include refid="selectTUserAccountInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertTUserAccountInfo" parameterType="TUserAccountInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_account_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionkey != null">sessionKey,</if>
            <if test="accessToken != null">access_token,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="unionId != null">union_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="phone != null">phone,</if>
            <if test="birthday != null">birthday,</if>
            <if test="status != null">status,</if>
            <if test="country != null">country,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="address != null">address,</if>
            <if test="userType != null">user_type,</if>
            <if test="adminId != null">admin_id,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="lastLoginIp != null">last_login_ip,</if>
            <if test="gmtTime != null">gmt_time,</if>
            <if test="gmtUpdate != null">gmt_update,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sessionkey != null">#{sessionkey},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="unionId != null">#{unionId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="phone != null">#{phone},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="status != null">#{status},</if>
            <if test="country != null">#{country},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="address != null">#{address},</if>
            <if test="userType != null">#{userType},</if>
            <if test="adminId != null">#{adminId},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="lastLoginIp != null">#{lastLoginIp},</if>
            <if test="gmtTime != null">#{gmtTime},</if>
            <if test="gmtUpdate != null">#{gmtUpdate},</if>
        </trim>
    </insert>

    <update id="updateTUserAccountInfo" parameterType="TUserAccountInfo">
        update t_user_account_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionkey != null">sessionKey = #{sessionkey},</if>
            <if test="accessToken != null">access_token = #{accessToken},</if>
            <if test="openId != null and openId != ''">open_id = #{openId},</if>
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="status != null">status = #{status},</if>
            <if test="country != null">country = #{country},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="address != null">address = #{address},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="adminId != null">admin_id = #{adminId},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
            <if test="gmtTime != null">gmt_time = #{gmtTime},</if>
            <if test="gmtUpdate != null">gmt_update = #{gmtUpdate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTUserAccountInfoById" parameterType="Long">
        delete from t_user_account_info where id = #{id}
    </delete>

    <delete id="deleteTUserAccountInfoByIds" parameterType="String">
        delete from t_user_account_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>