<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TUserLoginLogMapper">

    <resultMap type="TUserLoginLog" id="TUserLoginLogResult">
        <result property="id" column="id"/>
        <result property="userType" column="user_type"/>
        <result property="userId" column="user_id"/>
        <result property="code" column="code"/>
        <result property="openId" column="open_id"/>
        <result property="ip" column="ip"/>
        <result property="gmtTime" column="gmt_time"/>
        <result property="gmtUpdate" column="gmt_update"/>
    </resultMap>

    <sql id="selectTUserLoginLogVo">
        select id, user_type, user_id, code, open_id, ip, gmt_time, gmt_update from t_user_login_log
    </sql>

    <select id="selectTUserLoginLogList" parameterType="TUserLoginLog" resultMap="TUserLoginLogResult">
        <include refid="selectTUserLoginLogVo"/>
        <where>
            <if test="userType != null  and userType != ''">and user_type = #{userType}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="openId != null  and openId != ''">and open_id = #{openId}</if>
            <if test="ip != null  and ip != ''">and ip = #{ip}</if>
            <if test="gmtTime != null ">and gmt_time = #{gmtTime}</if>
            <if test="gmtUpdate != null ">and gmt_update = #{gmtUpdate}</if>
        </where>
    </select>

    <select id="selectTUserLoginLogById" parameterType="Long" resultMap="TUserLoginLogResult">
        <include refid="selectTUserLoginLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertTUserLoginLog" parameterType="TUserLoginLog" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_login_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userType != null">user_type,</if>
            <if test="userId != null">user_id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="ip != null">ip,</if>
            <if test="gmtTime != null">gmt_time,</if>
            <if test="gmtUpdate != null">gmt_update,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userType != null">#{userType},</if>
            <if test="userId != null">#{userId},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="ip != null">#{ip},</if>
            <if test="gmtTime != null">#{gmtTime},</if>
            <if test="gmtUpdate != null">#{gmtUpdate},</if>
        </trim>
    </insert>

    <update id="updateTUserLoginLog" parameterType="TUserLoginLog">
        update t_user_login_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userType != null">user_type = #{userType},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="openId != null and openId != ''">open_id = #{openId},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="gmtTime != null">gmt_time = #{gmtTime},</if>
            <if test="gmtUpdate != null">gmt_update = #{gmtUpdate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTUserLoginLogById" parameterType="Long">
        delete from t_user_login_log where id = #{id}
    </delete>

    <delete id="deleteTUserLoginLogByIds" parameterType="String">
        delete from t_user_login_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>