CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_ENABLE_PTHREAD=y
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESP32_PTHREAD_TASK_STACK_SIZE_DEFAULT=6144
CONFIG_FREERTOS_TIMER_STACKSIZE=3072
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_esp8266.csv"
CONFIG_SUPPORT_TCP=y
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
