<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/layout">
<head>
    <title>wumei-smart-auth</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#36424a;margin:0;">

<div>
    <div style="height: 64px;background-color: #fff;text-align: center;line-height: 64px;font-size: 24px;margin-bottom:150px;font-weight:600">
        <span>wumei-smart oauth 授权 </span>
    </div>
</div>

<div style="width: 360px;text-align: center;margin: 0 auto;border: 2px solid #fff;padding: 30px;border-radius: 10px">
    <p style="font-size:16px;color:#fff;">wumei-smart 授权平台</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-success" value="退出授权平台" style="width:100%"/>
    </form>
</div>
</body>
</html>
