/* @font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_c14qx7m7htb.eot');
    src: 
    url('//at.alicdn.com/t/webfont_c14qx7m7htb.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_c14qx7m7htb.woff') format('woff'), 


  }

.number-font{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
} */